/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import "~nativescript-theme-core/css/core.light.css";
.page {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  
}

.title,
.search-input,
.btn-search {
  min-height: 33;
  height: 40;
  width: 80%;
  min-width: 270;
  text-align: center;
  margin: 10 0;
}

.fa{
  font-family: 'FontAwesome','Font-Awesome';
  font-size: 26;
  color: #5B79CE;
}

.credit{
  text-align: center;
  height: 40;
  width: 100%;
  justify-self: end;
  position: absolute;
  bottom: 0;
}

